@import 'reset';
@import "bourbon";
@import "neat";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$primary-color: #563d7c;
$secondary-color: #6f5499;
$gray-color: #c8c8c8;

body {
    font-family: Helvetica, sans-serif;
}

nav {
    background: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    color: white;
    margin-bottom: 30px;
    padding: 30px;
    overflow: auto;

     a h1 {
        font-size: 2em;
        float: left;
        color: white;
    }

    .right-nav {
        overflow: auto;
        float: right;
        li {
            float: left;
            margin-left: 20px;
        }
    }

    button, input {
        background: none;
        border: 2px solid white;
        color: inherit;
        font-size: 0.9em;
        padding: 8px;
        width: 180px;
        text-align: center;
        font-weight: normal
    }

    button:hover, input:hover {
        background: darken($primary-color, 10%);
        border: 2px solid darken($primary-color, 10%);
    }

    input:focus {
        background: darken($primary-color, 10%);
        border: 2px solid darken($primary-color, 10%);
        outline: none;
    }

    button:focus{
        outline: none;
    }
}

.container {
    @include outer-container(980px);
}

.section {
    background: lighten($gray-color, 15%);
    outline: 1px solid darken($gray-color, 15%);
    padding: 20px;
    margin-bottom: 10px;
}

h3, h4 {
    color: $primary-color;
    margin-bottom: 10px;
    font-weight: bold;
}

.day, .week {
    display: none;
}

.week {
    padding-left: 30px;
}
.day {
    margin-top: 15px;
    li {
        margin-bottom: 8px;

        span {
            font-weight: bold;
        }
    }
}

.alerts {
    background: red;
    color: white;
    outline: 1px solid red;
}

.cover-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.fa-spinner {
    color: $primary-color;
}

.center {
    text-align: center;
}

.weather {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}
