<nav>
    <h1>Weather App</h1>
    <ul>
        <li>
            {{input}}
            <button>Search</button>
        </li>
        <li>
        {{current-location foundLocation="redirectWeather"}}
        </li>
    </ul>
</nav>
{{outlet}}
